@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Varela Round';
}

@layer base {
  div.base {
    @apply bg-cover bg-[#D9EDBF] content-center;
  }
}

.card-shadow:hover div img {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.scale-table {
  transform: scale(.8);
}

/* this targets choose a number  */
.custom-select, .custom-input {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 300;
  --tw-placeholder-opacity: 1;
  color: rgb(120 144 156 / var(--tw-placeholder-opacity))
}

label.select-none {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: rgb(75 85 99);
}

.custom-select span, .custom-input {
  top: 70%;
  left: 1.25rem;
}

.custom-select div.grid {
  top: 60%;
  color: rgb(75 85 99);
}

.custom-input {
  color: rgb(75 85 99);
}

.custom-input::placeholder, .custom-input.value {
  position: absolute;
  top: 70%;
  left: 1.25rem;
  transform: translateY(-70%); 
  pointer-events: none; 
}

div.radio label {
  --tw-text-opacity: 1;
  color: rgb(69 90 100 / var(--tw-text-opacity));
}

.cat-list {
  width: 85%;
}

/* @layer base {
  button.button {
    @apply text-[#D9EDBF] text-base font-extrabold;
  }
} */