@tailwind base;
@tailwind components;
@tailwind utilities;

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700 */
.dynapuff-bold {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.sniglet {
  font-family: "Sniglet", system-ui;
  font-weight: 800;
  font-style: normal;
}
.modak {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Varela Round';
}

@layer base {
  div.base {
    @apply bg-cover bg-[#D9EDBF] content-center;
  }
}

.card-shadow:hover div img {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.scale-table {
  transform: scale(.8);
}

/* this targets choose a number  */
.custom-select, .custom-input {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 300;
  --tw-placeholder-opacity: 1;
  color: rgb(120 144 156 / var(--tw-placeholder-opacity))
}

label.select-none {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: rgb(75 85 99);
}

.custom-select span, .custom-input {
  top: 70%;
  left: 1.25rem;
}

.custom-select div.grid {
  top: 60%;
  color: rgb(75 85 99);
}

.custom-input {
  color: rgb(75 85 99);
}

.custom-input::placeholder, .custom-input.value {
  position: absolute;
  top: 70%;
  left: 1.25rem;
  transform: translateY(-70%); 
  pointer-events: none; 
}

div.radio label {
  --tw-text-opacity: 1;
  color: rgb(69 90 100 / var(--tw-text-opacity));
}

.cat-list {
  width: 85%;
}

.h-1\/8 {
  /* height: 14.28%; */
  height: 12.5%;
}

.text-4xl {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}

.shadow-3d {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), /* Main shadow */
              -2px -2px 5px rgba(255, 255, 255, 0.3); /* Highlight */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Thin border for definition */
  border-bottom-left-radius: 8px; /* Optional: add some rounding */
  border-bottom-right-radius: 8px; /* Optional: add some rounding */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.roboto {
  font-family: Roboto, sans-serif;
}

.submit-button {
  width: 219px;
  height: 48px;
}

/* @layer base {
  button.button {
    @apply text-[#D9EDBF] text-base font-extrabold;
  }
} */