@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Varela Round';
}

/* for /categories  */
/* @layer base {
  div.base {
    @apply bg-[#D9EDBF] content-center;
  }
} */

/* OG  */
@layer base {
  div.base {
    @apply h-screen bg-cover bg-[#D9EDBF] content-center;
  }
}

.label-hidden-required-span span {
  display: none;
  visibility: hidden;
}

.custom-label {
  font-size: 11px; /* Set desired font size */
  position: absolute; /* Keep the position absolute */
  top: -0.375rem; /* Adjust for -top-1.5, which is equivalent to -0.375rem */
  left: 0; /* Keep the label on the left */
  font-weight: normal; /* Set font weight */
  pointer-events: none; /* Prevent interactions with the label */
  user-select: none; /* Prevent text selection */
  /* flex-grow: 0 !important; */
  /* width: calc(100% - 1rem); */
  display: flex; /* Use flex to manage layout */
  transition: all;
  line-height: 1.25rem; /* leading-tight, adjust as needed */
  /* color: #94a3b8;  */
  overflow: visible !important; 
  text-overflow: clip !important; /* Override truncate */
  white-space: nowrap !important; /* Ensure no truncation */
  &::after {
    transform: scaleX(0) !important; 
  }
}

.custom-label::before {
  content: ''; /* Ensure the pseudo-element is created */
  display: block; /* Necessary for margin to take effect */
  box-sizing: border-box;
  width: 0.625rem; /* 2.5 * 0.25rem (default Tailwind rem size) */
  height: 0.375rem; /* 1.5 * 0.25rem */
  margin-top: 6.5px; 
  margin-right: 0.25rem;
  pointer-events: none;
  transition: all;
  border-top-left-radius: 0.375rem; 
  border-top: 1px solid #cbd5e1; 
  border-left: 1px solid #cbd5e1; 
} 

.peer:disabled + .custom-label::before {
  border-color: transparent; /* peer-disabled:before:border-transparent */
}

.peer:disabled + .custom-label::after {
  border-color: transparent; /* peer-disabled:before:border-transparent */
}

.peer:disabled + .custom-label {
  color: transparent; /* peer-disabled:text-transparent */
}


.peer:placeholder-shown + .custom-label::after {
  border-color: #cbd5e1; 
}

/* !overflow-visible truncate 
peer-placeholder-shown:text-blue-gray-500 leading-tight 
peer-focus:leading-tight peer-disabled:text-transparent 
peer-disabled:peer-placeholder-shown:text-blue-gray-500 
text-sm peer-focus:text-sm 
after:content[' '] after:block after:w-full after:absolute 
after:-bottom-2.5 left-0 after:border-b-2 after:scale-x-0 
peer-focus:after:scale-x-100 after:transition-transform 
after:duration-300 peer-placeholder-shown:leading-tight 
text-gray-500 peer-focus:text-gray-900 after:border-gray-500 
peer-focus:after:border-gray-900 custom-label */


.custom-label::after {
  content: ''; /* Ensure the pseudo-element is created */
  display: block; /* Necessary for margin to take effect */
  box-sizing: border-box;
  width: 0.625rem; /* 2.5 * 0.25rem (default Tailwind rem size) */
  height: 0.375rem; /* 1.5 * 0.25rem */
  margin-top: 6.5px; /* maybe not needed, pushes text right */
  margin-left: 0.25rem; /* Apply margin-left */
  pointer-events: none;
  transition: all;
  border-top-right-radius: 0.375rem; 
  border-top: 1px solid #cbd5e1; 
  border-right: 1px solid #cbd5e1; 
} 

.location-input {
  border-top-color: transparent !important;
}

/* @layer base {
  button.button {
    @apply text-[#D9EDBF] text-base font-extrabold;
  }
} */